accelerate==0.28.0
diffusers==0.30.2
einops==0.8.1
ffmpeg-python==0.2.0
gdown==5.2.0
huggingface_hub==0.30.2
imageio[ffmpeg]==2.37.0
librosa==0.11.0
moviepy==1.0.3
numpy==1.23.5
omegaconf==2.3.0
opencv-python==4.9.0.80
pillow==10.4.0
requests==2.32.3
scipy==1.15.3
soundfile==0.12.1
tqdm==4.67.1
transformers==4.39.2
